.component--gallery--images-grid {
	.grid-image {
		position: relative;
		margin-top: $t4g-padding-xlarge-horizontal;

		.image {
			height: 200px;
		}

		.content {
			h4 {
				margin: 0;
			}
		}

		.header {
			svg {
				&.is-liked {
					fill: $t4g-brand-danger;
				}
			}
		}
	}
}
